body {
    background-image: url("/images/background.jpg");
    background-color: lightgrey;
}

.navBar {
    height: 100px;
}

.questionBoxAdd {
    background: rgb(200,200,200);
    min-height: 7rem;
}

.questionBoxQuestion {
    background: rgb(200,200,200);
    min-height: 5rem;
}

.questionBoxEvaluation {
    background: rgb(200,200,200);
    min-height: 6rem;
}

.answerBox {
    background: rgb(220,220,220);
}

.addQuestionBox {
    height: 7rem;
}

.amountQuestions {
    width: 70px;
}

textarea {
    resize: none;
 }

@media (min-width: 576px) {
    .quizContainer {
        margin-top: 4rem;
    }
}

@media (min-width: 1200px) {
    .quizContainer {
        margin-top: 10rem;
    }
}

#validationMessage {
    color: red;
}

#totalQuizQuestions {
    display: none;
}

#devConsole {
    display: none;
    position: absolute;
    width: 30rem;
    overflow: hidden; /* Hide scrollbars */
}

#devConsole h6 {
    color: blue;  
}

.editButtons {
    width: 35px;
}



