body {
    background-image: url("/images/background3.jpg");
    background-color: lightgrey;
  }

.navBar {
    height: 100px;
}

.questionBox {
    background: rgb(200,200,200);
}

.answerBox {
    background: rgb(220,220,220);
}

.addQuestionBox {
    height: 7rem;
}

.amountQuestions {
    width: 50px;
}

textarea {
    resize: none;
 }

@media (min-width: 576px) {
    .quizContainer {
        margin-top: 7rem;
    }
}

@media (min-width: 1200px) {
    .quizContainer {
        margin-top: 13rem;
    }
}



